name: freire_freitas_app
description: Controle de estoque + PDV - Freire & Freitas Padaria
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  sqflite: ^2.4.2
  path_provider: ^2.0.15
  path: ^1.8.3
  mobile_scanner: ^2.1.0
  intl: ^0.18.0
  excel: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/icon.png
